<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://spice.eplus.jp/images/QiPJZGnt6ndIsc3EqaHuShgFdwgBJOLCKzew99Ri428gPAXENfUP0px8zFQyqdxS);">
  <div class="container">
    <h1><%= @event.user.name %></h1>
    <p><%= @event.name %></p>
  </div>
</div>
<div class="container d-flex">
  <div class="event-card">
    <p><%= @event.event_date %></p>
    <p><%= @event.address %></p>
    <p>Ticket price</p>
  </div>
  <div class="event-card">
    MAP
  </div>
</div>
