.navbar-lewagon {
  justify-content: space-between;
  color:white;
  overflow: hidden;
  background: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.nav-button {
  border-radius: 2px;
  padding: 8px;
  color: white;
  display: block;
  margin-right: 1em;
  width: 100px;
  text-align: center;
}

.nav-button:hover {
  text-decoration: none;
  color: black;
  background: whitesmoke;
  transition: 1s;
}
